<div>
    <h2 id="page-heading">
        <span>Przepis Skladnikis</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-przepis-skladniki" [routerLink]="['/przepis-skladniki/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Przepis Skladniki
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="przepisSkladnikis?.length === 0">
        <span>No przepisSkladnikis found</span>
    </div>
    <div class="table-responsive" *ngIf="przepisSkladnikis?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="ilosc"><span>Ilosc</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="kalorieIlosc"><span>Kalorie Ilosc</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="przepisId"><span>Przepis Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="skladniki.id"><span>Skladniki</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="user.login"><span>User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let przepisSkladniki of przepisSkladnikis ;trackBy: trackId">
                <td><a [routerLink]="['/przepis-skladniki', przepisSkladniki.id, 'view' ]">{{przepisSkladniki.id}}</a></td>
                <td>{{przepisSkladniki.ilosc}}</td>
                <td>{{przepisSkladniki.kalorieIlosc}}</td>
                <td>{{przepisSkladniki.przepisId}}</td>
                <td>
                    <div *ngIf="przepisSkladniki.skladniki">
                        <a [routerLink]="['/skladniki', przepisSkladniki.skladniki?.id, 'view' ]" >{{przepisSkladniki.skladniki?.id}}</a>
                    </div>
                </td>
                <td>
                    {{przepisSkladniki.user?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/przepis-skladniki', przepisSkladniki.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/przepis-skladniki', przepisSkladniki.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(przepisSkladniki)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="przepisSkladnikis?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
