<div>
    <h2 id="page-heading">
        <span>Katalog Przepisów</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-przepis" [routerLink]="['/przepis/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Dodaj nowy przepis
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="przepis?.length === 0">
        <span>Nie znaleziono żadnych przepisów</span>
    </div>
    <div class="table-responsive" *ngIf="przepis?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="nazwa"><span>Nazwa</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="typPrzepisu"><span>Typ Przepisu</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="zdjecie"><span>Zdjęcie poglądowe</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="kalorieSuma"><span>Suma kalorii [kcal]</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="user.login"><span>Dodane przez</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let przepis of przepis ;trackBy: trackId">
                <td>{{przepis.nazwa}}</td>
                <td>{{przepis.typPrzepisu}}</td>
                <td>
                    <a *ngIf="przepis.zdjecie" (click)="openFile(przepis.zdjecieContentType, przepis.zdjecie)">
                        <img [src]="'data:' + przepis.zdjecieContentType + ';base64,' + przepis.zdjecie" style="max-height: 30px;" alt="przepis image"/>
                    </a>
                </td>
                <td>{{przepis.kalorieSuma}}</td>
                <td>
                    {{przepis.user?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/przepis', przepis.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">Szczegóły</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/przepis', przepis.id, 'edit']"
                                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edycja</span>
                        </button>
                        <button type="submit" (click)="delete(przepis)"
                                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Usuń</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="przepis?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
