<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="przepis">
            <h2><span>Nazwa przepisu: </span> {{przepis.nazwa}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Zdjęcie poglądowe</span></dt>
                <dd>
                    <div *ngIf="przepis.zdjecie">
                        <a (click)="openFile(przepis.zdjecieContentType, przepis.zdjecie)">
                            <img [src]="'data:' + przepis.zdjecieContentType + ';base64,' + przepis.zdjecie" style="max-width: 100%;" alt="przepis image"/>
                        </a>
                    </div>
                </dd>
                <div id="content" #content>
                <dt><span>Lista zakupowa:</span></dt>
                <ng-container *ngFor="let przepisSkladnik of przepisSkladnikiArr">
                        <li>{{przepisSkladnik.ilosc}} {{przepisSkladnik.skladniki.jednostka}} {{przepisSkladnik.skladniki.nazwa}}</li>
                </ng-container>
                </div>
                <button (click)="downloadPDF(przepis.nazwa)">Pobierz listę składników</button>
                <dt><span>Typ Przepisu</span></dt>
                <dd>
                    <span>{{przepis.typPrzepisu}}</span>
                </dd>
                <dt><span>Opis przepisu</span></dt>
                <dd>
                    <span>{{przepis.opis}}</span>
                </dd>
                <dt><span>Kaloryczność przepisu [kcal]</span></dt>
                <dd>
                    <span>{{przepis.kalorieSuma}}</span>
                </dd>
                <dt><span>Dodane przez</span></dt>
                <dd>
                    {{przepis.user?.login}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span>Wróć</span>
            </button>

            <button type="button"
                    [routerLink]="['/przepis', przepis.id, 'edit']"
                    *jhiHasAnyAuthority="'ROLE_ADMIN'"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span>Edytuj</span>
            </button>
            <button type="button"
                    class="btn btn-dark"
                    (click)="print()">
                <fa-icon [icon]="'print'"></fa-icon><span>Drukuj</span>
            </button>
        </div>
    </div>
</div>
