<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Rejestracja użytkownika</h1>

            <div class="alert alert-success" *ngIf="success">
                <strong>Rejestracja użytkownika zakończona sukcesem!</strong> Sprawdź czy dostałeś potwiedzenie z aktywacją na swojego maila.
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>Rejestacja użytkownika zakończyła się niepowodzeniem!</strong> Proszę spróbować jeszcze raz.
            </div>

            <div class="alert alert-danger" *ngIf="errorUserExists">
                <strong>W bazie istnieje już taki użytkownik!</strong> Proszę wybrać inną nazwę.
            </div>

            <div class="alert alert-danger" *ngIf="errorEmailExists">
                <strong>W bazie istnieje już taki adres email!</strong> Proszę wybrać inny adres email.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                Hasło oraz powtórzone hasło nie są identyczne.
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">
                <div class="form-group">

                    <label class="form-control-label" for="login">Nazwa użytkownika</label>
                    <input type="text" class="form-control" id="login" name="login" placeholder="Wprowadź nazwę"
                           formControlName="login">
                    <div *ngIf="registerForm.get('login').invalid && (registerForm.get('login').dirty || registerForm.get('login').touched)">
                        <small class="form-text text-danger" *ngIf="registerForm.get('login').errors.required">
                            Nazwa użytkownika jest wymagana.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('login').errors.minlength"
                               >
                            Nazwa użytkownika musi zawierać przynajmniej jeden znak.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('login').errors.maxlength"
                               >
                            Nazwa użytkownika nie może mieć więcej niż 50 znaków.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('login').errors.pattern"
                              >
                            Nazwa użytkownika może zawierać jedynie cyfry oraz znaki.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Wprowadź adres email"
                             formControlName="email">
                    <div *ngIf="registerForm.get('email').invalid && (registerForm.get('email').dirty || registerForm.get('email').touched)">
                        <small class="form-text text-danger" *ngIf="registerForm.get('email').errors.required"
                               >
                            Adres email jest wymagany.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('email').errors.invalid"
                              >
                            Adres email jest niepoprawny.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('email').errors.minlength"
                              >
                            Adres email musi posiadać przynajmniej 5 znaków.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('email').errors.maxlength"
                              >
                            Adres email nie może mieć więcej niż 100 znaków.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="password">Hasło</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Wprowadź hasło"
                            formControlName="password">
                    <div *ngIf="registerForm.get('password').invalid && (registerForm.get('password').dirty || registerForm.get('password').touched)">
                        <small class="form-text text-danger" *ngIf="registerForm.get('password').errors.required"
                               >
                            Hasło jest wymagane.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('password').errors.minlength"
                               >
                            Hasło musi posiadać przynajmniej 4 znaki.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('password').errors.maxlength"
                               >
                            Hasło nie może posiadać więcej niż 50 znaków.
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="registerForm.get('password').value"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">Powtórzenie hasła</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Wprowadź ponownie hasło"
                            formControlName="confirmPassword">
                    <div *ngIf="registerForm.get('confirmPassword').invalid && (registerForm.get('confirmPassword').dirty || registerForm.get('confirmPassword').touched)">
                        <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword').errors.required"
                              >
                            Powtórzenie hasła jest wymagane.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword').errors.minlength"
                             >
                            Powtórzenie hasła musi posiadać przynajmniej 4 znaki.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword').errors.maxlength"
                              >
                            Powtórzenie hasła nie może posiadać więcej niż 50 znaków.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary">Zarejestruj</button>
            </form>
        </div>
    </div>
</div>
