<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Witaj na naszej stronie!</h1>
        <p class="lead">Strona startowa Aplikacji Dietetycznej</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"
                   > Jesteś zalogowany jako użytkownik: "{{account.login}}". </span>
            </div>

            <div class="alert alert-success" *ngSwitchCase="false">
                <span>Chcesz się zalogować? </span>
                <a class="alert-link" (click)="login()">Kliknij tu!</a>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>Nie masz jeszcze konta?</span>&nbsp;
                <a class="alert-link" routerLink="account/register">Zarejestruj się teraz!</a>
            </div>
        </div>
    </div>
</div>
